<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="nav navbar-left">
            <span class="title">Bookers</span>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id)  do%>
                  <span>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to "Users", users_path %>
              </li>
              <li>
                <%= link_to "Books", books_path %>
              </li>
              <li>
                <%= link_to "logout", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to  root_path do %>
                  <span>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to "About", homes_about_path %>
              </li>
              <li>
                <%= link_to "Sign Up", new_user_registration_path %>
              </li>
              <li>
                <%= link_to  new_user_session_path do%>
                  <span>Log in</span>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </nav>

    </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
